
<%= provide(:description, 'Naszą misją jest dostarczanie aplikacji wspierających procesy Twojego Przedsiębiorstwa w obszarze sprzedaży, zarządzania kontaktami, magazynu i logistki.') %>  
<%= provide(:keywords, 'system B2B, B2B Kielce, business-to-business, ERP, wdrożenia systemów, system zarządzania firmą, Subiekt GT, aplikacja magazynowa, mobilny mabazynier, WMS, aplikacje dedykowane, indywidualny projekt, sieci LAN, sieci WLAN, sieci WiFi, instalacje RFID, terminale mobilne, czytniki kodów kreskowych, drukarki etykiet') %> 

<div class="row">
	<div class="col-md-6 col-sm-12 data-left">
		<div class="content">
			<p>
				<%= image_tag('sm-it_logo')  %>
			</p>
			<h1>Informatyczna obsługa firm</h1>
			<h1>Oprogramowanie dla przedsiębiorstw</h1>
			<p class="offer">
				Oferujemy i wdrażamy rozwiązania z dziedziny zarządzania przedsiębiorstwem i aplikacje dedykowane:
				systemy klasy  <strong>B2B</strong> <span>(Business-to-Business)</span>, <strong>ERP</strong> <span>(Enterprice Resource Planing)</span>, aplikacje wspomagające procesy magazynowe i logistyczne - <strong>WMS</strong> <span>(Warehouse Mangement System)</span>, <strong>rozwiązania dedykowane</strong> - tworzone od a do z według Twoich potrzeb.   
			</p>
			<p class="offer">
				Dostarczamy sprzęt IT, zarówno nowy jak i używany. 
				Projektujemy, budujemy i oferujemy usługi utrzymania sieci komputerowych przewodowych <strong>LAN</strong>, bezprzewodowych <strong>WLAN</strong>, dostarczamy i konfigurujemy <strong>urządzenia sieciowe</strong> - routery brzegowe, przełączniki (switch), punkty dostępowe (access point), kontrolery sieci przewodowej i bezprzewodowej.
			</p>
			<hr>
			<h3>Skontaktuj się z nami</h3>

			<div class="contact_alert">
			  <% flash.each do |key, value| %>
			    <div class="alerts <%= key %>">
			        <%= value %>
			    </div>
			  <% end %>
			</div>

			<div class="contact-us">
			   <%= form_for :contact_web do |f| -%>
                <div class="row">
	                <div class="form-group">
		           	    <div class="col-sm-12">
		            	     <%= f.text_field :name_web, :required => true, placeholder: 'Imię i nazwisko', class: 'form-control' %>
		                </div>
		            </div>
		        </div>
		        <div class="row">
              		<div class="form-group">
                 		<div class="col-sm-12 col-md-6">
                 			<%= f.email_field :email_web, :required => true, placeholder: 'Adres email', class: 'form-control' %>
                 		</div>
                 		<div class="col-sm-12 col-md-6">
	                    	<%= f.text_field :phone_web, placeholder: 'Numer telefonu', class: 'form-control' %>
	             		</div>
               		</div>
               	</div>
               	<div class="row">
	               <div class="form-group">
	                 <div class="col-sm-12">
	                    <%= f.text_area :client_message, :required => true, placeholder: 'Pytanie', class: 'form-control' %>
	                 </div>
	               </div>
	            </div>
               <div class="row">
	               <div class="form-group">
	                 <div class="col-sm-12">
	                 	<%= f.submit 'Wyślij zapytanie', :class=> "btn btn-default" %>
	                 </div>
	               </div>
	           </div>
              <% end -%>
			</div>

			<p class="credit">
			&#9400;	SM IT 2017
			</p>
		</div>
	</div>
	<div class="col-md-6 img-right">
		<%= image_tag('bcg-smit')  %>
	</div>
</div>