Wiadomość z formularza kontaktowego wysłanego przez:<h3> <%=  @name_web %></h3>
Adres e-mail: <h3><%=  @email_web %></h3>
Telefon: <h3> <%=  @phone_web %></h3>

<p>
	Treść zapytania:
</p>
<%= simple_format(@question_web) %>
