/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */


// @font-face {
// font-family: 'Oswald';
// src:font-url('Oswald-Regular.ttf') format('truetype');
// font-weight: normal;
// font-style: normal;
// }


body  {
  font-family: "Roboto",Helvetica,Arial,sans-serif;
}


@import "bootstrap-sprockets";
@import "bootstrap";


h1 {
	text-transform: uppercase;
	margin-top: 15px;
    margin-bottom: 30px;
    font-size: 2.1em;
    font-weight: bold;
    letter-spacing: .1em;
}

.row .col-sm-12 {
	margin-bottom: 1%;
}

.data-left {
	height: 100%;

	.content {
		position: relative;
    	padding: 80px;

    	p {
    	 		
    		img {
    			vertical-align: middle;
    			width:30%;
    			margin-bottom: 5%;
    		}
    	}

    	p.offer {
			display: block;
    		font-size: 15px;
  			line-height: 1.55;
  			margin-top: 3%;

  			span {
  				font-style: italic;
  			}
    	}
    	p.credit {    
    		margin-top: 40px;
    		font-size: 13px;
    		color: #999;
		}
	}
}
.img-right {
	height:100vh;
	// min-height: 500px;
	// border: solid 1px red;

	img {
		height:100vh;
		width: 100%;
		opacity: 0.8;
	}
}

@media (max-width: 991px) {
	.img-right {
		height: 1px !important;
		img {
			display:none;
		}
	}
}



.contact-us {
	.row {
		margin-bottom: 1%;
	}
}

.contact_alert {
	
	background-color: transparent;
	margin-bottom: 1%;

	.alerts {
		width: 100%;
		height: 30px;
		font-size: 1.2em;
		font-weight: bold;
		padding: 5px;
	}

	.alert_success {
		background-color: #dfdcdc;
		color: #ffffff;
	}
	.alert_warning {
		background-color: #dfdcdc;
		color: #fb0606;
	}
	
}

// @media (min-width: 768px) {
// 	.img-right {
		
// 		img {
// 			display:block;
// 		}
// 	}
// }

// @media (min-width: 768px) {
// 	.img-right {
// 		height:100vh;
// 		min-height: 500px;
// 		img {
// 			display:block;
// 			height:100vh;
// 			width: 100%;
// 			opacity: 0.8;
// 		}
// 	}
// }


