<!DOCTYPE html>
<html>
<head>
  <title>SM IT - Obsługa informatyczna firm, Oprogramowanie do zarzadzania przedsiębiorstwem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="description" content="<%= yield(:description) %>" />
  <meta name="keywords" content="<%= yield(:keywords) %>" />
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
